page-forgot-password {
  .forgot-password {
    .center{text-align:center;}
    p {
      font-size: 0.8em;
      color: #FF6153;
    }
    .invalid > .item-inner{
      border-bottom: 1px solid #FF6153;
    }
    .error-message .item-inner {
      border-bottom: 0 !important;
    }
  }
}
